body {
    background-image: url(./images/background.jpg);
    background-repeat: repeat;
    background-size: 60%;
    padding: 0px;
    margin: 0px;
    background-color: #f5f5dc;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    text-align: center;
    font-size: 105%;
}

/* HEADER */
header, #header {
    background-color: #3C1900;
    color: #e9dede;
    padding: 5px;
}

header div , #header div{
    display: flex;
    width: 95%;
    margin: auto;
}

header h1, #header h1{
    margin: auto;
}

header nav, #header div{
    margin: auto;
}

header nav#gyengenlato, #header #gyengenlato{
    text-align: center;
    border: #8b521f solid 3px;
    border-radius: 6px;
}

header nav#gyengenlato:hover, #header #gyengenlato:hover{
    background-color: #2a1202;
    font-style: italic;
}

header nav#gyengenlato a, #header #gyengenlato a{
    margin: 3px 6px;
    text-decoration: none;
}

header nav ul li, #header div ul li{
    display: inline;
    white-space: nowrap;
}

header nav ul li#selected, #header div ul li#selected{
    font-weight: bold;
    font-size: 1.1em;
}

header nav a,  #header div a {
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 1em;
}

header nav a:link, #header div a:link {
    color: #e9dede;
}

header nav a:visited, #header div a:visited {
    color: #dcd7d7;
}

header nav a:hover, #header div a:hover {
    text-decoration: underline;
}

nav#tartalomraugras a, div#tartalomraugras a{
    position: absolute;
    left: -9999px;
    color: black;
}

nav#tartalomraugras a:focus, div#tartalomraugras a:focus{
    position: static;
    background-color: white;
}

header a#normalbetu, #header a#normalbetu {
	display: none;
}

header a#nagybetu, #header a#nagybetu {
	display: block;
}

.rejtett {
    position: absolute;
    left: -9999px;
    color: black;
}

/* MAIN */
main, #main {
    max-width: 52%;
    margin: auto;
    text-align: justify;
    background-color: bisque;
    padding: 10px;
    display: inline-block;
}

main article{
    column-count: 2;
    margin: 30px 5px;
}

main article:nth-child(4){
    direction: rtl;
}

main article h2, main article aside{
    direction: ltr;
}

main h1, h2{
    text-align: center;
}

main section h2{
    margin: auto;
    width: 70%;
    text-align: justify;
}

main p , #main p{
    width: 70%;
    margin: 25px auto;
    font-size: 1.3em;
}

main ul{
    margin-left: 20%;
}

main ul li{
    font-size: 1.3em;
}

main span.spoiler{
    width: 100%;
    text-align: center;
}

main a, #main a{
    color: #3C1900;
}

main a:hover, #main a:hover{
    font-style: italic;
    font-weight: bold;
}

main a:visited, #main a:visited{
    color: #8b521f;
}

/* IMAGE */
main figure{
    width: 80%;
    margin: 30px auto;
    text-align: center;
    padding: 2.7%;
    border: solid 2px #914400;
    border-radius: 10px;
    background-color: #914400;
}

main img{
    width: 100%;
    border: solid 2px #914400;
    border-radius: 10px;
}

main figure figcaption{
    font-size: 1.3em;
    margin-top: 10px;
    color: #e9dede;
}

main figure.cover {
    max-width: 50%;
}

/* VIDEO */
main div.video{
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

main video{
    max-width: 90%;
    margin: auto;
    padding: 2.7%;
    border: solid 2px #914400;
    border-radius: 10px;
    background-color: #914400;
}

/* TABLE */
main table{
    border: #914400 5px solid;
    margin: auto;
    width: 70%;
    text-align: center;
    border-collapse: collapse;
}

main table td, main table th{
    padding: 5px;
    border: #3C1900 solid 1px;
    font-size: 1.2em;
}

main table summary, main table p{
    font-size: 1.2em;
    margin: 2px auto;
}

main div.table{
    margin-bottom: 25px;
}


/* FORM */
main form fieldset{
    text-align: start;
    padding-bottom: 25px;
    border: none;
    margin: auto;
    width: 50%;
    font-size: 1.3em;
}

main form legend{
    font-weight: bold;
    margin-left: 30px;
}

main form textarea, main form input{
    font-size: 1em;
}

main form input[type="submit"]{
    margin-right: 20px;
}

main form input[type="radio"], main form input[type="checkbox"]{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

/* FOOTER */
footer{
    color: #FFFFFF;
    background-color: #8b521f;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: 100%;
    bottom: 0;
    text-align: justify;
}

footer div.foot{
    width: 70%;
    display: flex;
    margin: 0px auto 20px auto;
}

footer div.foot div{
    margin: auto;
}

footer h1{
    font-size: 1.8em;
}

footer h2{
    text-align: justify;
    font-size: 1.1em;
    margin: 5px 20px;
}

footer ul{
    list-style-type: none;
    margin: 0px;
    padding-left: 20px;
}

footer a{
    color: #FFFFFF;
}

footer a:visited{
    color: #DEDEDE;
}

@media screen and (min-width: 1921px){
    body{
        font-size: 210%;
    }

    main figure{
        border-radius: 20px;
    }

    main img{
        border-radius: 20px;
    }

    main video{
        border-radius: 20px;
    }
}
