body {
    background-image: url(./images/background.jpg);
    background-repeat: repeat;
    background-size: 60%;
    padding: 0px;
    margin: 0px;
    background-color: #f5f5dc;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    text-align: center;
}

/* HEADER */
header {
    background-color: #3C1900;
    color: #e9dede;
    padding: 5px;
}

header div{
    display: flex;
    width: 1000px;
    margin: auto;
}

header h1{
    margin: auto;
}

header nav{
    margin: auto;
}

header nav ul li {
    display: inline;
    white-space: nowrap;
}

header nav ul li#selected{
    font-weight: bold;
}

header nav a {
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 1em;
}

header nav a:link {
    color: #e9dede;
}

header nav a:visited {
    color: #dcd7d7;
}

header nav a:hover {
    text-decoration: underline;
}

nav#tartalomraugras a {
    position: absolute;
    left: -9999px;
    color: black;
}

nav#tartalomraugras a:focus {
    position: static;
    background-color: white;
}

.rejtett {
    position: absolute;
    left: -9999px;
    color: black;
}

/* MAIN */
main {
    max-width: 1000px;
    margin: auto;
    text-align: justify;
    background-color: bisque;
    padding: 10px;
    display: inline-block;
}

main article{
    column-count: 2;
    margin: 30px 5px;
}

main article:nth-child(4){
    direction: rtl;
}

main article h2, main article aside{
    direction: ltr;
}

main h1, h2{
    text-align: center;
}

main section h2{
    margin: auto;
    width: 70%;
    text-align: justify;
}

main p {
    width: 70%;
    margin: 25px auto;
    font-size: 1.3rem;
}

main ul{
    margin-left: 20%;
}
main ul li{
    font-size: 1.3rem;
}

main span.spoiler{
    width: 100%;
    text-align: center;
}

main a{
    color: #3C1900;
}

main a:visited{
    color: #8b521f;
}

/* IMAGE */
main figure{
    width: fit-content;
    margin: 30px auto;
    text-align: center;
    padding: 15px;
    border: solid 2px #914400;
    border-radius: 10px;
    background-color: #914400;
}

main img{
    max-width: 800px;
    border: solid 2px #914400;
    border-radius: 10px;
}

main figure figcaption{
    font-size: 1.3rem;
    margin-top: 10px;
    color: #e9dede;
}

main img.cover {
    max-width: 200px;
}

/* VIDEO */
main div.video{
    width: 100%;
    margin: 40px auto;
    text-align: center;
}

main video{
    max-width: 800px;
    width: fit-content;
    margin: auto;
    padding: 15px;
    border: solid 2px #914400;
    border-radius: 10px;
    background-color: #914400;
}

/* TABLE */
main table{
    border: #914400 5px solid;
    margin: auto;
    width: 70%;
    text-align: center;
    border-collapse: collapse;
}

main table td, main table th{
    padding: 5px;
    border: #3C1900 solid 1px;
    font-size: 1.2rem;
}

main table summary, main table p{
    font-size: 1.2rem;
    margin: 2px auto;
}

main div.table{
    margin-bottom: 25px;
}


/* FORM */
main form fieldset{
    padding-bottom: 25px;
    border: none;
    margin: auto;
    width: 50%;
    font-size: 1.3rem;
}

main form legend{
    font-weight: bold;
    margin-left: 30px;
}

main form textarea, main form input{
    font-size: 1rem;
}

main form input[type="submit"]{
    margin-right: 20px;
}

/* FOOTER */
footer{
    color: #FFFFFF;
    background-color: #8b521f;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: 100%;
    bottom: 0;
    text-align: justify;
}

footer div.foot{
    width: 1000px;
    display: flex;
    margin: 0px auto 20px auto;
}

footer div.foot div{
    margin: auto;
}

footer h1{
    font-size: 1.8rem;
}

footer h2{
    text-align: justify;
    font-size: 1.1rem;
    margin: 5px 20px;
}

footer ul{
    list-style-type: none;
    margin: 0px;
    padding-left: 20px;
}

footer a{
    color: #FFFFFF;
}

footer a:visited{
    color: #DEDEDE;
}
