body {
    background-color: beige;
    padding: 0px;
    margin: 0px;
}

/* HEADER */
header {
    background-color: #3C1900;
    color: #e9dede;
    padding: 5px;
}

header div{
    display: flex;
    width: 1000px;
    margin: auto;
}

header h1{
    margin: auto;
}

header nav{
    margin: auto;
}

header nav ul li {
    display: inline;
    white-space: nowrap;
}

header nav ul li#selected{
    font-weight: bold;
}

header nav a {
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 1em;
}

header nav a:link {
    color: #e9dede;
}

header nav a:visited {
    color: #dcd7d7;
}

header nav a:hover {
    text-decoration: underline;
}

nav#tartalomraugras a {
    position: absolute;
    left: -9999px;
    color: black;
}

nav#tartalomraugras a:focus {
    position: static;
    background-color: white;
}

.rejtett {
    position: absolute;
    left: -9999px;
    color: black;
}

/* MAIN */
main {
    max-width: 900px;
    margin: auto;
    text-align: justify;
    background-color: bisque;
    padding: 10px;
}

main article{
    column-count: 2 ;
    margin: 30px 5px;
}

main figure{
    margin: auto;
    text-align: center;
    padding: 10px;
    border: solid 2px#3C1900;
    border-radius: 5px;
}

main img {
    max-width: 800px;
}

main img#cover {
    max-width: 200px;
}

main h1,h2{
    text-align: center;
}

main p {
    width: 700px;
    margin: 20px auto;
    font-size: 1.2rem;
}

main ul li{
    font-size: 1.2rem;
}

span#spoiler{
    width: auto;
}

span#spoilere p{
    text-align: center;
}
